/* ===========================================================
WWW.TWITCH.TV/LEMONOOB
STYLE OF LEMONOOB
============================================================ */

/* CONFIGURAÇÕES */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

p {
  font-family: 'Hind', sans-serif !important;
}


/* HEADER */
#bg-cover {
  background-attachment: fixed;
  background-image: url(../img/bg.jpg);
  height: 900px;
  background-size: cover;
}


.central {
margin-left:  15%;
padding-top: 150px;
}



/* FOOTER */

.footer-text {
    font-family: 'Hind', sans-serif !important;
    font-weight: 400;
    color: white;
}

.footer-text a {
  color: #e1e22c;
  font-weight: 600;
}

.footer-position {
  padding-top: 200px;
}

/* ERRO 404 */

.titulo-erro {
  color: #fff;
  padding-top: 400px;
  opacity: 1.0 !important;
}

.bg-titulo-erro {
  background-color: black;
  padding: 30px 30px;
  border-radius: 5px;
  opacity: 0.8;
}

/* OUTROS TAMANHOS DE TELA */

@media screen and (max-width: 1280px) {
 .twitch-embed {
    width: 420px !important;
 }
 .central {
   margin-left: 10px;
 }
}

@media screen and (max-width: 480px) {
 .twitch-embed {
    width: 420px !important;
    height: auto !important;
 }
 .central {
   margin-left: -20px;
 }
 .titulo-erro {
   color: #fff;
   padding-top: 250px;
   opacity: 1.0 !important;
 }

 .bg-titulo-erro {
   background-color: black;
   padding: 30px 30px;
   border-radius: 5px;
   opacity: 0.8;
 }
}
